<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    ...
</head>
<body>


<div th:fragment="script">
    <!--   Core JS Files   -->
    <script src="/assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/js/material.min.js" type="text/javascript"></script>
    <script src="/assets/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <!-- Library for adding dinamically elements -->
    <script src="/assets/js/arrive.min.js" type="text/javascript"></script>
    <!-- Forms Validations Plugin -->
    <script src="/assets/js/jquery.validate.min.js"></script>
    <!-- Promise Library for SweetAlert2 working on IE -->
    <script src="/assets/js/es6-promise-auto.min.js"></script>
    <!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
    <script src="/assets/js/bootstrap-notify.min.js"></script>
    <!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="/assets/js/jquery.select-bootstrap.min.js"></script>
    <!-- Sweet Alert 2 plugin, full documentation here: https://limonte.github.io/sweetalert2/ -->
    <script src="/assets/js/sweetalert2.min.js"></script>
    <!-- Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="/assets/js/jquery.tagsinput.min.js"></script>
    <!-- Material Dashboard javascript methods -->
    <script src="/assets/js/material-dashboard.min.js?v=1.2.0"></script>
    <!-- Mask Input plugin  -->
    <script src="/assets/js/jquery.mask.min.js"></script>
</div>
</body>
</html>